### 00 Variables

# i3 config file (v5)
#
# Please see http://i3wm.org/docs/userguide.html for a complete reference!

# Mod1 = Alt
# Mod4 = Window

# TODO:
# Borders
# Window-specific commands
# Colors
# Interprocess Communication
# Tab-Through Workspaces
# i3bar

##Begin Definitions
# Monitor Names
set_from_resource $Mon1		mon1	"HDMI-0"
set_from_resource $Mon2		mon2	$Mon1

# Main control Key
set $mod			Mod4
set $win			Mod4
set $alt			Mod1

#Set some windows to float by default
for_window [class="Wine"] floating enable
for_window [window_role="Msgcompose"] floating enable
for_window [title="Eclipse Marketplace "] floating enable
for_window [title="Friends"] floating enable
for_window [class=".*Preferences.*"] floating enable

# Focus ignores mouse
focus_follows_mouse		no

# Only show pop-ups in fullscreen if it belongs to the window
popup_during_fullscreen		smart

# Wrap if focus shifts off-screen
force_focus_wrapping		no

# Disable mouse following screen focus
mouse_warping			none

# Font
font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1

# Owncloud Sync
exec owncloud &

##End Definitions
