### 01 Workspace

##Begin Workspace-Monitor-Associations
workspace 100			output eDP-1
workspace 1			output $Mon1
workspace 2			output $Mon2
workspace 3			output $Mon1
workspace 4			output $Mon2
workspace 5			output $Mon1
workspace 6			output $Mon2
workspace 7			output $Mon1
workspace 8			output $Mon2
workspace 9			output $Mon1
workspace 10			output $Mon2
workspace 11			output $Mon1
workspace 12			output $Mon2
workspace 13			output $Mon1
workspace 14			output $Mon2
workspace 15			output $Mon1
workspace 16			output $Mon2
workspace 17			output $Mon1
workspace 18			output $Mon2
workspace 19			output $Mon1
workspace 20			output $Mon2
workspace 21			output $Mon1
workspace 22			output $Mon2
workspace 23			output $Mon1
workspace 24			output $Mon2
workspace 25			output $Mon1
workspace 26			output $Mon2
workspace 27			output $Mon1
workspace 28			output $Mon2
workspace 29			output $Mon1
workspace 30			output $Mon2

workspace Wine			output $Mon1
##End Workspace-Monitor-Associations
