### 03 Mount

## Begin Mount Mode Decleration
mode "mount"
{
	bindsym c		exec "udevil mount /dev/sdc1"; mode "default"
	bindsym d		exec "udevil mount /dev/sdd1"; mode "default"
	bindsym e		exec "udevil mount /dev/sde1"; mode "default"
	bindsym f		exec "udevil mount /dev/sdf1"; mode "default"
	bindsym g		exec "udevil mount /dev/sdg1"; mode "default"
	bindsym p		exec "go-mtpfs /mnt/phone"; mode "default"
	bindsym XF86Eject	exec "eject --traytoggle"; mode "default"

	bindsym u		mode "eject"

	bindsym space		mode "default"
	bindsym Return		mode "default"
	bindsym Escape		mode "default"
}
## End Mount Mode
