### 03 Eject

## Begin Eject Mode Decleration
mode "eject"
{
	bindsym c		exec "udevil umount -l /dev/sdc1"; mode "default"
	bindsym d		exec "udevil umount -l /dev/sdd1"; mode "default"
	bindsym e		exec "udevil umount -l /dev/sde1"; mode "default"
	bindsym f		exec "udevil umount -l /dev/sdf1"; mode "default"
	bindsym g		exec "udevil umount -l /dev/sdg1"; mode "default"
	bindsym p		exec "fusermount -u /mnt/phone"; mode "default"
	bindsym XF86Eject	exec "eject --traytoggle"; mode "default"

	bindsym m		mode "mount"

	bindsym space		mode "default"
	bindsym Return		mode "default"
	bindsym Escape		mode "default"
}
## End Eject Mode
