### 04 Bindings

##Begin Quick-Key
bindsym $mod+Return			exec "xterm"
bindsym $mod+d				exec --no-startup-id "j4-dmenu-desktop --dmenu='dmenu -i -b'"
bindsym $mod+Shift+q			kill
bindsym $mod+XF86Sleep			exec "i3lock && sudo systemctl suspend"; reload
bindsym $mod+Shift+XF86Sleep		exec 'checkHibernate.sh'; reload
# bindsym XF86Search			
bindsym XF86Go				exec $BROWSER #internet button
bindsym Shift+XF86Go			exec "chromium --incognito"
# bindcode 221				#info button
bindsym XF86Mail			exec thunderbird
bindsym XF86Eject			mode "mount"
bindsym Shift+XF86Eject			mode "eject"
bindsym XF86AudioPrev			exec "mpc prev"
bindsym XF86AudioPlay			exec "mpc toggle"
bindsym XF86AudioNext			exec "mpc next"
bindsym Shift+XF86AudioPrev		exec "mpc seek -00:01"
bindsym Shift+XF86AudioNext		exec "mpc seek +00:01"
bindsym XF86AudioStop			exec "mpc stop"
bindsym XF86AudioLowerVolume		exec "amixer -D pulse sset Master 5%-"
bindsym XF86AudioRaiseVolume		exec "amixer -D pulse sset Master 5%+"
bindsym Shift+XF86AudioLowerVolume	exec "amixer -D pulse sset Master 2%-"
bindsym Shift+XF86AudioRaiseVolume	exec "amixer -D pulse sset Master 2%+"
bindsym $alt+Shift+XF86AudioLowerVolume	exec "mpc volume -2"
bindsym $alt+Shift+XF86AudioRaiseVolume	exec "mpc volume +2"
bindsym $alt+XF86AudioLowerVolume	exec "mpc volume -5"
bindsym $alt+XF86AudioRaiseVolume	exec "mpc volume +5"
bindsym XF86AudioMute			exec "amixer sset Master toggle"
bindsym F12				exec "scrot -s ~/screenshot.png"
bindsym Shift+F12			exec "scrot -s ~/x.png && xclip ~/x.png && rm ~/x.png"
##End Quick-Key

