##Begin Resize-Keys
bindsym $mod+Control+Left		resize grow   left  2px or 2 ppt
bindsym $mod+Control+Up			resize grow   up    2px or 2 ppt
bindsym $mod+Control+Right		resize grow   right 2px or 2 ppt
bindsym $mod+Control+Down		resize grow   down  2px or 2 ppt

bindsym $mod+Mod1+Left			resize shrink right 2px or 2 ppt
bindsym $mod+Mod1+Up			resize shrink down  2px or 2 ppt
bindsym $mod+Mod1+Right			resize shrink left  2px or 2 ppt
bindsym $mod+Mod1+Down			resize shrink up    2px or 2 ppt
##End Resize-Keys

