### 07 i3 Controls

##Begin Screen Management
bindsym $mod+h			split h
bindsym $mod+v			split v
bindsym $mod+f			fullscreen
##End Screen Management

##Begin Layouts
bindsym $mod+s			layout stacking
bindsym $mod+t			layout tabbed
bindsym $mod+u			layout default
##End Layouts

##Begin i3 Controls
bindsym $mod+Shift+c		exec "bash ~/.i3/generatei3Config.sh"; reload
bindsym $mod+Shift+r		exec "bash ~/.i3/generatei3Config.sh"; restart
bindsym $mod+Shift+e		exit
##End i3 Controls

